export FIREBASE_API_KEY=AIzaSyDEW9LcUbSNEfNPYx9elRumM60gv4A5sMw
export FIREBASE_PROJECT_ID=mix-it-377021
export FIREBASE_MESSAGING_SENDER_ID=826317232630
export FIREBASE_APP_ID=1:826317232630:web:863265467da0a6950c4fd7
export FIREBASE_MEASUREMENT_ID=G-PCQP1SH50G
